.header_wrap {
    width: 100px;
    // height: 100px;
    height: 100%;
    position: fixed;
    right: 0;
    z-index: 9;
    display: flex;
    background-color: #fff;
    flex-direction: column;
    align-items: center;
    padding: 50px 0 0 0;
    .head_list {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        .head_item {
            margin-top: 20px;
            font-size: 16px;
            color: #000;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;

            .icon {
                width: 25px;
                height: 25px;
                background-position: center;
                background-repeat: no-repeat;
            }
            .t {
                cursor: pointer;
            }
        }
    }
}
