.header_wrap {
    width: 100%;
    height: 100px;
    background-color: rgba($color: #000, $alpha: 0.5);
    position: absolute;
    top: 0;

    z-index: 9;
    .wrap {
        display: flex;
        align-items: center;
        height: 100%;
        .head_list {
            // height: 100px;
            display: flex;
            width: 100%;
            margin-left: 333px;
            align-items: center;
            .head_item {
                font-size: 16px;
                // flex: 1;
                margin-left: 50px;
                color: #fff;
            }
        }
    }
}
// .active {
//     border-bottom: 1px solid #fff;
// }
