/*
 * @Author: foxfly
 * @Contact: 617903352@qq.com
 * @Date: 2022-08-18 17:13:51
 * @Description: restraint scss
 */

.restraintContainer {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
